{% extends 'base.html.twig' %} {% block title %}Liste des formations{% endblock
%} {% block body %}
<div class="container-fluid">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nom de la formation</th>
        <th scope="col">Nombres de sessions</th>
        {% if app.user %}
        <th scope="col">Modifier</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for formation in formations %}
      <tr class="table-active">
        <td scope="row">{{formation.id}}</td>
        <td><a href="{{path('show_formation', {id: formation.id}) }}">{{formation.nomFormation}}</a></td>
        {% if formation.posseder %}
        <td>{{formation.posseder|length}} sessions prévus</td>
        {% else %}
        <td>Aucune session prévu</td>
        {% endif %}
        {% if app.user %}
        <td><button type="button" class="btn btn-warning" data-bcup-haslogintext="no"><a href="{{path('edit_formation', {id: formation.id})}}">Modifier</a></button></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}