{% extends 'base.html.twig' %} {% block title %}Liste des sessions{% endblock %}
{% block body %}
<div class="container-fluid">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th>Nom de la session</th>
        <th>Date de début</th>
        <th>Date de fin</th>
        <th>Nombre de place</th>
        <th>nombre de place restante</th>
        <th>Rattaché a la formation</th>
        <th>Programme</th>
        {% if app.user %}
        <th>Modifier</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for session in sessions %}
      <tr class="table-active">
        <td scope="row">{{session.id}}</td>
        <td><a href="{{path('show_session', {id: session.id})}}">{{session.nom}}</a></td>
        <td>{{session.dateDebutFr}}</td>
        <td>{{session.dateFinFr}}</td>
        <td>{{session.nbPlace}}</td>
        {% if session.inscrit %}
        <td>{{session.nbPlace - session.inscrit|length}}</td>
        {% else %}
        <td>{{session.nbPlace}}</td>
        {% endif %}
        <td>{{session.formation.nomFormation}}</td>
        {% if session.programmes %}
        <td>{{session.programmes|length}}</td>
        {% else %}
        <td>Aucun programme pour le moment</td>
        {% endif %}
        {% if app.user %}
        <td><button type="button" class="btn btn-warning" data-bcup-haslogintext="no"><a href="#">Modifier</a></button></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
